/* ========================================================================
        HERO / MAIN COVER 
======================================================================== */
.hero {
    position: relative;
    width: 100%;
    min-height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    background-color: #000;
}

.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 1;
    z-index: 1;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, #111 0%, rgba(18, 18, 18, 0.25) 50%, rgba(0, 0, 0, 0.35) 100%);
    z-index: 2;
}

.hero-content {
    position: relative;
    z-index: 3;
    max-width: 95rem;
    padding: 60px 20px;
}

.hero-title {
    font-size: 3rem;
    font-weight: 500;
    text-align: left;
    line-height: 1.1;
    margin-top: 1rem;
    margin-bottom: 25px;
    letter-spacing: -1px;
    animation: enfocar 2s cubic-bezier(.48,.51,.41,1) 0s 1 normal both;
}

.hero-title span {
    color: var(--ft-red);
}

.hero-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.hero-left {
    max-width: 800px;
    margin: 0 auto;
}

.hero-right {
    display: none;
}

.hero-desc {
    font-size: 18px;
    color: var(--text-white);
    text-align: left;
    font-weight: 300;
    margin-bottom: 40px;
    line-height: 1.7;
    animation: enfocar 2s cubic-bezier(.48,.51,.41,1) 0s 1 normal both;
}

.hero-desc span {
    color: var(--text-white);
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: var(--ft-red);
}

/* Botón de Landing Page */
.btn-cta {
    display: inline-block;
    background-color: var(--ft-red);
    color: var(--text-white);
    font-size: 1.15rem;
    font-weight: 800;
    padding: 0.75rem 1rem;
    border-radius: 40px;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 1px;
    box-shadow: 0 0 30px var(--btn-lead-color);
    transition: all 0.3s ease;
}

.btn-cta:hover {
    background-color: var(--ft-red-hover);
    transform: translateY(-3px);
    box-shadow: 0 0 40px var(--btn-lead-hover-color);
}

.categories-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin-top: 60px;
    padding-top: 35px;
}

.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--text-white);
    transition: all 0.3s;
    width: calc(20% - 1rem); 
    min-width: 6rem;
    margin-bottom: 16px;
}

.category-circle {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: var(--cat-cir-color);
    border: 3px solid var(--cat-cir-border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.category-circle svg {
    width: 38px;
    height: 38px;
    stroke: #db7a7a;
    transition: stroke 0.3s;
    fill: none;
}

.category-item:hover .category-circle {
    background-color: var(--ft-red);
    border-color: var(--ft-red);
    transform: scale(1.08);
}

.category-item:hover .category-circle svg {
    stroke: var(--text-white);
}

.category-name {
    font-size: 13px;
    font-weight: 600;
    margin-top: 2px;
    transition: color 0.3s;
}

.category-item:hover .category-name {
    color: var(--text-white);
}

/* ========================================================================
        PRODUCTOS DESTACADOS
======================================================================== */
.section-padding {
    padding: 80px 3rem;
}

.section-header {
    text-align: center;
    margin-bottom: 60px;
}

.section-title {
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 1px;
}

.section-description{
    color: var(--text-gray);
    margin-top: 1rem;
}

.section-line {
    height: 4px;
    width: 80px;
    background-color: var(--ft-red);
    margin: 15px auto 0 auto;
}

.products-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 2rem;
    padding: 0 1rem;
    max-width: 95rem;
    margin: 0 auto;
}

/* Tarjeta de Producto */
.product-card {
    background-color: var(--ft-card-bg);
    border: 1px solid var(--ft-border);
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(33.333% - 1.34rem); 
    min-width: 18rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    animation-name: reveal;
    animation-timing-function: ease-in-out;
    animation-timeline: view(block);
    animation-range: cover 0% entry-crossing 50%;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px #0000004d;
}

.featured {
    border: 2px solid var(--ft-red);
    box-shadow: 0 0 25px var(--featured-boxsh-color);
    position: relative;
}

.product-badge {
    color: var(--ft-red);
    font-size: 13px;
    font-weight: 800;
    padding: 6px 12px;
    margin-bottom: 0.45rem;
    border-radius: 20px;
    letter-spacing: 1px;
    z-index: 5;
    text-align: center;
}

.product-info-wrap {
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    text-align: justify;
    font-size: 1rem;
}

.product-img-box {
    position: relative;
    aspect-ratio: 3 / 2;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
    filter: drop-shadow(0 1rem 0.5rem #0005);
}

.product-card:hover .product-img {
    transform: scale(1.05);
}

.product-title {
    font-size: 18px;
    font-weight: 700;
    transition: color 0.3s;
}

.product-card:hover .product-title {
    color: var(--ft-red);
}

.product-desc {
    font-size: 0.9rem;
    color: var(--text-white);
    line-height: 1.6;
}

.product-footer {
    padding: 15px 25px;
    border-top: 1px solid rgba(46, 46, 46, 0.5);
    margin-top: auto;
}

.product-price-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.price-label {
    font-size: 12px;
    color: var(--text-gray);
}

.price-val {
    font-size: 22px;
    font-weight: 900;
}

.btn-add-cart {
    width: 100%;
    background-color: var(--ft-red);
    color: var(--text-white);
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-size: 13px;
    font-weight: 700;
    text-transform: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-add-cart:hover {
    background-color: var(--ft-red-hover);
}

.btn-explore {
    background: #222;
    border: 2px solid var(--ft-border);
    color: var(--text-white);
}

.btn-explore:hover {
    background: var(--ft-card-bg);
}

/* ========================================================================
        VENTAJAS COMPETITIVAS
======================================================================== */
.bg-section-alt {
    background-color: var(--section-alt-color);
    border-top: 1px solid var(--ft-border);
    border-bottom: 1px solid var(--ft-border);
}

.advantages-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 2rem;
    padding: 0 3rem;
    max-width: 95rem;
    margin: 0 auto;
}

.advantage-card {
    background-color: var(--ft-card-bg);
    border: 1px solid var(--ft-border);
    border-bottom: 4px solid var(--ft-red);
    padding: 40px 30px;
    border-radius: 12px;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(33.333% - 1.34rem); 
    min-width: 18rem;
    animation-name: reveal;
    animation-timing-function: ease-in-out;
    animation-timeline: view(block);
    animation-range: cover 0% entry-crossing 50%;
}

.advantage-card:hover {
    transform: translateY(-5px);
}

.advantage-icon {
    width: 96px;
    height: 96px;
    background-color: var(--advantage-color);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.advantage-icon svg {
    width: 84px;
    height: 84px;
    stroke: var(--ft-red);
    fill: none;
    stroke-width: 2;
}

.advantage-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}

.advantage-desc {
    font-size: 0.9rem;
    color: var(--text-light-gray);
    line-height: 1.6;
    text-align: justify;
}

/* ========================================================================
        TESTIMONIOS
======================================================================== */
.testimonials-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 2rem;
    padding: 0 1rem;
    max-width: 95rem;
    margin: 0 auto;
}

.testimonial-card {
    background-color: var(--ft-card-bg);
    border: 1px solid var(--ft-border);
    padding: 35px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(33.333% - 1.34rem); 
    min-width: 18rem;
    animation-name: reveal;
    animation-timing-function: ease-in-out;
    animation-timeline: view(block);
    animation-range: cover 0% entry-crossing 50%;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.user-img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--btn-lead-color);
}

.user-name {
    font-size: 17px;
    font-weight: 700;
}

.user-role {
    font-size: 14px;
    color: var(--text-gray);
}

.rating {
    color: var(--rating-color);
    font-size: 20px;
    margin-bottom: 15px;
}

.testimonial-text {
    font-style: italic;
    font-size: 0.9rem;
    text-align: justify;
    color: var(--text-light-gray);
    line-height: 1.7;
}

/* ========================================================================
        LANDING LEAD CAPTURE
======================================================================== */
.lead-section {
    background-color: var(--section-alt-color);
    border-top: 1px solid var(--ft-border);
    padding: 70px 1rem;
}

.lead-box {
    max-width: 700px;
    margin: 0 auto;
    background-color: var(--ft-card-bg);
    border-radius: 16px;
    padding: 50px;
    box-shadow: 0 0 50px #000000c8;
    animation-name: reveal;
    animation-timing-function: ease-in-out;
    animation-timeline: view(block);
    animation-range: cover 0% entry-crossing 50%;
}

.lead-title {
    font-size: 26px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 12px;
}

.lead-subtitle {
    font-size: 14px;
    color: var(--text-white);
    text-align: center;
    margin-bottom: 35px;
}

.form-group {
    margin-bottom: 25px;
}

.form-label {
    display: block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--text-white);
    margin-bottom: 8px;
}

.form-control {
    width: 100%;
    background-color: var(--ft-card-bg);
    border: 1px solid var(--text-gray);
    border-radius: 8px;
    padding: 14px;
    color: var(--text-white);
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
}

.form-control::placeholder{
    color: #777;
}

.form-control:focus {
    border-color: var(--ft-red);
}

.btn-submit {
    width: 100%;
    background-color: var(--ft-red);
    color: var(--text-white);
    font-size: 14px;
    font-weight: 700;
    padding: 16px;
    border: none;
    border-radius: 8px;
    text-transform: none;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 5px 15px var(--btn-lead-hover-color);
}

.btn-submit:hover {
    background-color: var(--ft-red-hover);
}


/* ========================================================================
        MODALES (Modificado y Reforzado)
======================================================================== */

/* Ventana Modal Agradecimiento de Landing Page */
.thankyou-modal-container {
    text-align: center;
    padding: 20px 0;
}

.thankyou-icon {
    font-size: 80px;
    color: #7fe531;
    margin-bottom: 20px;
    animation: bounce 1s ease infinite alternate;
}

.thankyou-heading {
    font-size: 24px;
    font-weight: 800;
    color: white;
    margin-bottom: 10px;
    text-transform: none;
}

.thankyou-text {
    color: var(--text-light-gray);
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 25px;
    padding: 0 1rem;
}

.pdf-box {
    background-color: var(--ft-dark-bg);
    border: 1px solid var(--ft-border);
    border-radius: 8px;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    margin-bottom: 25px;
}

.pdf-box span {
    color: var(--ft-red);
    font-size: 32px;
}

.pdf-box-text {
    text-align: left;
    font-size: 13px;
}

.pdf-box-title {
    font-weight: 700;
    color: white;
}


@keyframes glow {
    from{
        box-shadow: 0 0 1rem #afff71;
    }
    to{
        box-shadow: 0 0 2rem #5aad1a;
    }
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
}

@keyframes reveal {
    from{
        opacity: 0;
        transform: scale(0.7);
    }to{
        opacity: 1;
    }
}

@keyframes enfocar {
    from{
        filter: blur(4rem);
        transform: translateX(-50rem);
    }to{
        filter: blur(0);
        transform: translateX(0rem);
    }
}

@media (min-width: 768px) {
    .hero-grid {
        grid-template-columns: 1.1fr 0.9fr;
    }
}


@media (max-width: 42rem) {
    .btn-cta {
        font-size: 14px;
    }
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
}

@keyframes reveal {
    from{
        opacity: 0;
        transform: scale(0.7);
    }to{
        opacity: 1;
    }
}

@keyframes enfocar {
    from{
        filter: blur(4rem);
        transform: translateX(-50rem);
    }to{
        filter: blur(0);
        transform: translateX(0rem);
    }
}